.trakt-button{	
	color:white;	
	font-size:13px;
	display: block;
	float: left;
	margin-top: 2px!important;	
	margin-left:5px!important;	
	cursor:pointer;	
	text-decoration:none;	
	padding:5px 8px !important;	
	background-color:#008FBB;	
	border-radius:6px;
	-webkit-border-radius:6px;	
	text-shadow:none;	
	outline:0;	
	font-family:'DroidSans',Arial,serif;}

.trakt-button:hover{
	background:#D1E751;	
	color:#000;	
}	

.button-success{
	background-color:green;	
	opacity: 0;
	display: none;}

.button-failure{
	background-color:red;	
	opacity: 0;
	display: none;}

.button-exist{
	background-color:#4FBFD5;	
	opacity: 0;
	display: none;}

.trakt-button:active{
	color:#000;}
	
.button-seen{
	padding-left:20px!important;
	background-image:url('chrome-extension://__MSG_@@extension_id__/images/icon-plus-only.png'); 
	background-repeat:no-repeat;	
	background-position:6px 50%;}
	
.button-seen:hover{
	background-image:url('chrome-extension://__MSG_@@extension_id__/images/icon-plus-only-hover.png'); 
	background-repeat:no-repeat;	
	background-position:6px 50%;}
	
.button-checkin{
	padding-left: 28px!important;
	background-image:url('chrome-extension://__MSG_@@extension_id__/images/icon-check-in-hover.png'); 
	background-repeat:no-repeat;	
	background-position:6px 45%;}
	
.button-checkin:hover{
	background-image:url('chrome-extension://__MSG_@@extension_id__/images/icon-check-in.png'); 
	background-repeat:no-repeat;	
	background-position:6px 45%;}

.rt-rating-fresh{
	background-image:url('chrome-extension://__MSG_@@extension_id__/images/rt_0.png'); 
	background-repeat:no-repeat;
	background-size: 100% auto;
	}
.rt-rating-rotten{
	background-image:url('chrome-extension://__MSG_@@extension_id__/images/rt_1.png'); 
	background-repeat:no-repeat;
	background-size: 100% auto;
	}
.rt-rating-certfresh{
	background-image:url('chrome-extension://__MSG_@@extension_id__/images/rt_2.png'); 
	background-repeat:no-repeat;
	background-size: 100% auto;
	}

.rt-rating-upright{
	background-image:url('chrome-extension://__MSG_@@extension_id__/images/rt_3.png'); 
	background-repeat:no-repeat;
	background-size: 100% auto;
	}
.rt-rating-a{
	background-image:url('chrome-extension://__MSG_@@extension_id__/images/rt_4.png'); 
	background-repeat:no-repeat;
	background-size: 100% auto;
	}
.rt-rating-b{
	background-image:url('chrome-extension://__MSG_@@extension_id__/images/rt_5.png'); 
	background-repeat:no-repeat;
	background-size: 100% auto;
	}

.rt-rating{
	width:18px;
	height:18px;
	float: left;
	display:block;
	}

.imdb-rating{
	background-image:url('chrome-extension://__MSG_@@extension_id__/images/imdb_icon.png'); 
	background-repeat:no-repeat;
	background-size: 100% auto;
	width:18px;
	height:18px;
	float: left;
	display:block;
	}
	
.overlay-watched{
	width: 55px !important;
	height: 55px !important;
	position:relative !important;
	margin-bottom: -55px !important;
	opacity: 1 !important;
	background-image: url('chrome-extension://__MSG_@@extension_id__/images/episode-seen.png');
	background-repeat: no-repeat !important;
	background-color: transparent !important;
	background-size: 100% auto; !important}

.overlay-watched-big{
	width: 75px;
	height: 75px;
	position:relative;
	margin-bottom: -75px;
	background-image: url('chrome-extension://__MSG_@@extension_id__/images/episode-seen.png');
	background-repeat: no-repeat;
	background-size: 100% auto;}
	
.overlay-watched-small{
	width: 30px;
	height: 30px;
	position:relative;
	margin-bottom: -30px;
	background-image: url('chrome-extension://__MSG_@@extension_id__/images/episode-seen-small.png');
	background-repeat: no-repeat;}
	
#trakt-loading{
	padding:6px 8px;
	display:none;
	float: left;}
